<div class="container">
  <h2>About page</h2>
  <h3>This project is a water monitoring system for Olt River from Calimanesti to Caciulata.</h3>
  <p>Login - Login as an administrator or volunteer.</p>
  <p>Register - Create a volunteer account.</p>
  <p>Map - View and interact with the river map.</p>
  <p>Incidents - View incidents that were approved by an admin.</p>
  <p>Charts - View a live chart of the PH level in the last 5 minutes.</p>
  <p>Notifications - View the last 5 notifications for unusual PH levels.</p>
  <p>Report Incident (Volunteer) - Report an incident that will be sent to the admin dashboard.</p>
  <p>Admin Incidents (Admin) - Approve, decline or delete incidents.</p>
  <h4>Project created by team Discovery: Draghici Ruxandra 342C5, Paraschiv George 343C5, Stanciu Monica 343C2.</h4>
</div>