<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      
    <span class="welcome" *ngIf="email">Hello, {{email}}!</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button fxHide.gt-sm="true" (click)="logout()" *ngIf="email">Logout</button> 
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/map">Map</a>
      <a mat-button routerLink="/report-incident">Report Incident</a>
      <a mat-button routerLink="/admin-incidents">Admin Incidents</a>
      <a mat-button routerLink="/incidents">Incidents</a>
      <button mat-raised-button (click)="logout()" *ngIf="email">Logout</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container content">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/map">Map</a>
        <a mat-button routerLink="/report-incident">Report Incident</a>
        <a mat-button routerLink="/admin-incidents">Admin Incidents</a>
        <a mat-button routerLink="/incidents">Incidents</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
